.user-container {
	border: 2px solid black;
	display: flex;
	flex-wrap: wrap;
}

.user-select {
    border: 2px solid red;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

.user-select:hover {
    background-color: gray;
}