package component

import (
    m "github.com/brianfloyd/the-grid/view/model"
)

templ setComponent(s m.SetView) {
    <p>{s.Exercise.Name} - {s.Weight} {s.WeightType} - {s.Reps} reps</p>
}

templ WorkoutComponent(w m.WorkoutView) {
    <div class="border-4 border-indigo-500 ">
        <h3>Workout: {w.Date}</h3>
        for _, groupKey := range w.PreferredExerciseGroupOrder {
            if group, ok := w.Groups[groupKey]; ok {
                <div>
                    <h3>{group.Group.FriendlyValue}</h3>
                    <div>
                        for _, set := range group.Sets {
                            @setComponent(set)
                        }
                    </div>
                </div>
            }
        }
    </div>
}