package component

import (
    m "github.com/brianfloyd/the-grid/view/model"
)

templ setComponent(s m.SetView) {
    <p>{s.Exercise.Name} - {s.Weight} {s.WeightType} - {s.Reps} reps</p>
}

templ WorkoutComponent(w m.WorkoutView) {
    <div class="border-4 border-primary-500">
        <h3>Workout: {w.Date}</h3>
        <div class="flex flex-wrap gap-2">
            for i, groupKey := range w.PreferredExerciseGroupOrder {
                if group, ok := w.Groups[groupKey]; ok {
                    <div class="collapse collapse-plus bg-base-200">
                        <input type="radio" name="workout-accordion"
                            if i == 0 {
                                checked="checked"
                            }
                        />
                        <h3 class="collapse-title">{group.Group.FriendlyValue}</h3>
                        <div class="collapse-content">
                                for _, set := range group.Sets {
                                    @setComponent(set)
                                }
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}