package page

import (
	m "github.com/brianfloyd/the-grid/view/model"
    "github.com/brianfloyd/the-grid/view/template/component"
)

templ ExercisePage(gr []m.ExerciseGroupViewResponse, er m.ExerciseViewResponse) {
    @component.PageWrapperComponent([]string{}) {
        @component.ExerciseGroupsComponent(gr)
        @component.ExercisesComponent(er)
    }
}
