package template

import "fmt"

templ Head(css []string) {
    <head>
        <title>The Grid</title>
        <script src="https://unpkg.com/htmx.org@2.0.4"></script>
        <link rel="stylesheet" href="/static/css/tailwind-gen.css"></link>

        for _, c := range css {
            <link rel="stylesheet" href={fmt.Sprintf("/static/css/%s", c)}></link>
        }
    </head>
}


templ App() {
    <html>
        @Head([]string{"app.css"})
        <body>
            <div hx-get="/_t/exercises" hx-swap="outerHTML" hx-trigger="load"></div>

            <div id="container">
                <div id="loading-content">
                    <h3>Loading...</h3>
                </div>

                <div id="content">
                </div>
            </div>
        </body>
    </html>
}