package template

import (
	"fmt"
	m "github.com/brianfloyd/the-grid/view/model"
)

templ GetExerciseGroups(groupViews []m.ExerciseGroupView) {
	<div class="border-2 border-black-500 flex flex-wrap">
		for _, groupView := range groupViews {
			@exerciseGroup(groupView, false)
		}
	</div>
}

templ SelectedExerciseGroup(groupViews []m.ExerciseGroupView, exercises []m.ExerciseView) {
	for _, groupView := range groupViews {
		@exerciseGroup(groupView, true)
	}
	<div class="exercises">
		for _, e := range exercises {
			<div class="exercise">
				<h3>{e.Name}</h3>
			</div>
		}
	</div>
}

templ exerciseGroup(g m.ExerciseGroupView, oob bool) {
	<!-- TODO: Render the workout for the day if g.Selected is true. -->
	<div data-name={g.Name} class={"border-2 border-red-500", templ.KV("border-4 border-yellow-500", g.Selected)}
			if oob {
				hx-swap-oob={fmt.Sprintf("outerHTML:[data-name=%s]", g.Name)}
			}
			if g.Selected {
				hx-get={string(templ.URL(fmt.Sprintf("/_t/exercises/%s", g.Name)))} 
			} else {
				hx-get={string(templ.URL(fmt.Sprintf("/_t/exercises/%s", g.Name)))} 
			}
			hx-swap="innerHTML" 
			hx-target="#content"
			hx-trigger="click"
	>
		<image src={g.ImageUrl}></image>
	</div>
}
