package template

import (
    "fmt"
    m "github.com/brianfloyd/the-grid/view/model"
)

templ user(user m.UserView) {
    <div class="border-2 border-red-500 m-[5px] p-[5px] cursor-pointer" data-id={user.Id} hx-trigger="click" hx-post={string(templ.URL(fmt.Sprintf("/login/%s", user.Id)))}>
        <h3>{user.Name}</h3>
    </div>
}

templ users(users []m.UserView) {
    <div class="border-2 border-black-500 flex flex-wrap hover:bg-gray-500">
        for _, u := range users {
            @user(u)
        }
    </div>
}

templ LoginPage(u []m.UserView) {
    <html>
        @Head([]string{})
        <body>
            @users(u) 
        </body>
    </html>
}